.brands {
  padding: 30px 15px;
  position: relative;
  @include tablet-landscape-min {
    padding: 60px 15px 0;
  }
  @include desktop-min {
    padding: 123px 15px 0;
  }
  &__title {
    margin-bottom: 90px;
    font-size: 2.1875rem;//35px
    font-weight: 700;
    text-align: center;
    color: #2a2a2a;
    @include tablet-min {
      margin-bottom: 45px;
    }
    @include tablet-landscape-min {
      margin-bottom: 40px;
    }
    @include desktop-min {
      margin-bottom: 95px;
    }
  }
  &__reference {
    position: absolute;
    top: 90px;
    right: 50%;
    padding: 0;
    font-size: 1.25rem;//20px
    font-weight: 700;
    text-decoration: none;
    color: $color-black;
    border-top: 2px solid rgba($color-black,0);
    border-bottom: 2px solid rgba($color-black,1);
    transform: translateX(50%);
    transition: padding 0.35s, border-color 0.35s;
    @include tablet-min {
      top: 35px;
      right: 10%;
    }
    @include tablet-landscape-min {
      top: 70px;
      right: 60px;
      bottom: inherit;
    }
    @include desktop-min {
      right: 38px;
      top: 135px;
    }
    &:hover {
      padding: 5px 7px;
      border-color: rgba($color-black,1);
      outline: none;
    }
    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      max-height: 0;
      color: rgba($color-black,0);
      transition: max-height 0.35s, border-color 0s;
    }
    &::before {
      border-left: 2px solid rgba($color-black,0);
    }
    &::after {
      border-right: 2px solid rgba($color-black,0);
    }
    &:hover::before, &:hover::after {
      max-height: 100%;
      transition-delay: 0.2s;
      border-color: rgba($color-black,1);
    }
  }
  &__list {
    @include resetListStyles;
    display: flex;
    // flex-wrap: wrap;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet-min {
      // flex-direction: row;
    }
    @include tablet-landscape-min {
      // flex-wrap: nowrap;
    }
  }
  &__item {
      margin: 0 45px;
      height: 430px;
    @include tablet-landscape-min {
      margin: 20px;
    }
  }
  &__link {
    @include resetLinkStyles;
    display: block;
    max-width: 256px;
    // height: 360px;
    height: auto;
    margin: auto;
  }
  & button {
    position: absolute;
    top: 320px;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    @include tablet-min {
      top: 280px;
    }
    @include tablet-landscape-min {
      top: 300px;
    }
    @include desktop-min {
      top: 419px;
    }
    transition: opacity 0.35s;
    &.slick-next {
      right: 20px;
      @include tablet-min {
        right: 10px;
      }
      @include tablet-landscape-min {
        right: 0;
      }
    }
    &.slick-prev {
      left: 20px;
      @include tablet-min {
        left: 10px;
      }
      @include tablet-landscape-min {
        left: 0;
      }
    }
    &:hover {
      opacity: 0.5;
    }
  }
}
.brand {
  position: relative;
  margin: 0;
  &__image {
    display: block;
    max-width: 100%;
    height: auto;
    transition: box-shadow 0.35s, filter 0.35s;
  }
  &__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__name {
    position: absolute;
    width: 100%;
    bottom: -72px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5625;//25px
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $color-black;
    cursor: default;
    pointer-events: none;
  }
}
// hover effects
.brands__link:hover .brand__image {
  box-shadow: 0 5px 15px rgba($color-custom, 0.7);
  filter: contrast(200%);
}
