.promo {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  background-color: $color-khaki;
  &__image {
    display: block;
    max-width: 40%;
    min-height: 100%;
    flex-grow: 2;
    object-fit: cover;
    @include tablet-landscape-min {
      max-width: 501px;
    }
  }
  &__info {
    display: flex;
    width: calc(100% - 501px);
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    color: $color-white;
    text-align: center;
    @include desktop-min {
      margin-left: -30px;
    }
  }
  &__title {
    margin-top: 30px;
    font-size: 3rem;//48px
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
    @include tablet-min {
      font-size: 3.875rem;//62px
    }
  }
  &__text {
    font-size: 1.6875rem;//27px
    margin-right: -10px;
    line-height: 1.1;
    text-transform: uppercase;
    @include tablet-min {
      font-size: 1.6875rem;//27px
    }
  }
}
